$light-black:hsl(0,0%,13%);
$light-black-transparent:hsla(0,0%,13%,75%);
$primary-black:hsl(0,0%,5%);

$primary-orange:hsl(14,100%,82%);
$primary-green:hsl(155,100%,82%);
$primary-blue:hsl(191,100%,82%);

$dark-orange:hsl(14,100%,10%);
$dark-green:hsl(155,100%,10%);
$dark-blue:hsl(191,100%,10%);

$secondary-orange:hsl(14, 100%, 67%);
$secondary-green:hsl(155,100%,67%);
$secondary-blue:hsl(191,100%,67%);

$active-orange:hsl(14,100%,75%);
$active-green:hsl(155,100%,75%);
$active-blue:hsl(155,100%,75%);
