@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

$serif:'Playfair Display';
$sans: 'Poppins';
$light:300;
$regular:400;
$medium:500;
$bold:700;
