@use './typography';
@use './colors';
@use './transitions';


*,
*::after,
*::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  text-decoration: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:typography.$sans;
  list-style:none;
  color:colors.$primary-black;
  scroll-behavior: smooth;
}
::-moz-selection { background: colors.$primary-black; color:white; }
::selection { background: colors.$primary-black; color:white; }


img:hover,img:active{
  opacity: 0.9;
}
